table{
    width: 100%;
    padding: 0;
    border-spacing: 0;
    border: 1px solid #252525;
}
tr{
    margin: 0;
    padding: 0;
}
th, td{
    padding: 10px;
    text-align: left;
    margin: 0;
    border: 1px solid #252525;
}