form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form > .form-control{
    flex: 0 0 46%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


form > .form-control label{
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
}


form > .form-control input,
form > .form-control select{
    padding: 5px 10px;
}

form > .form-control__btn{
    flex: 0 0 100%;
}
form > .form-control__btn .btn{
    width: 30%;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
    text-align: center;
}

form > a{
    margin: 0 auto;
}