body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper{
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
}


h1{
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}
.btn{
  background: transparent;
  border: 1px solid #252525;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;
  font-size: 14px;
  color: #252525;
  text-decoration: none;
}
.btn.remove{
  font-size: 17px;
}

.btn:hover{
  background-color: #252525;
  color: #fff;
}
